body {
  padding: 10px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: white;
  color: rgba(0, 0, 0, 1);
}

h4 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

p {
  text-align: justify;
  text-indent: 50px;
}

/* Formatação de imagens com legendas*/

.foto-milton {
  margin: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  /*box-shadow: 1px 1px 4px black; */
  /*text-align: right;
  width: 20%;
  height: 20%;
  text-align: center;*/
}
/*.foto-milton figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 1s;
  text-align: center;
}*/
.foto-milton:hover figcaption {
  opacity: 1;
}
